normalMetalEdgeLB = 0.0
normalMetalEdgeUB = 1.0
normalMetalEdgeWeight = 1.0

aggrMetalEdgeLB = 0.0
aggrMetalEdgeUB = 2.0
aggrMetalEdgeWeight = 0
mustRouteAggrMEUBPctg = 0.3
mustRouteTotalBudgetPctg = 0.05
mustRouteBudgetMin = 0.2
    
ViaEdgeLB = 0.0
ViaEdgeUB = 1.75
subViaEdgeUBDivisor = 2
viaEdgeWeight = 0.1

ViaBudgetAvgQuota = 0.2
viaBudgetCurrentQuota = 0.25

minChipletBudgetAvgPctg = 0.3