.DS_Store
.vscode/
bin/*
!bin/.gitkeep
inputs/*
!inputs/*.txt
!inputs/.gitkeep
lib/*
!lib/.gitkeep
!lib/boost*/.gitkeep
obj/*
!obj/.gitkeep
outputs/*
!outputs/.gitkeep
archive/*
myenv/*
exp/*
!exp/.gitkeep

