.DS_Store
.vscode/
bin/*
!bin/.gitkeep
lib/*
!lib/.gitkeep
!lib/boost*/.gitkeep
obj/*
!obj/.gitkeep
outputs/*
!outputs/.gitkeep
myenv/*
exp/*
!exp/.gitkeep
venv/*
archive/**/*.png
utils/__pycache__
vid/*
*.html