normalMetalEdgeLB = 0.0
normalMetalEdgeUB = 1.0
normalMetalEdgeWeight = 1.0

aggrMetalEdgeLB = 0.0
aggrMetalEdgeUB = 2.5
aggrMetalEdgeWeight = 0
mustRouteAggrMEUBPctg = 0.2
mustRouteTotalBudgetPctg = 0.05
mustRouteBudgetMin = 0.2

ViaEdgeLB = 0.0
ViaEdgeUB = 2.5
subViaEdgeUBDivisor = 2
viaEdgeWeight = 0.05

ViaBudgetAvgQuota = 0.2
viaBudgetCurrentQuota = 0.25

minChipletBudgetAvgPctg = 0.1

batchSize = 4096
iterationCommitLBPctg = 0.0075
minCommitRate = 0.375
maxCommitRate = 0.75
expectedFillingCycles = 15
maxFillingRate = 0.75